<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646933579801-v96r3abrn5mp5t580a7rd7dd54g3s8sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646933579801-v96r3abrn5mp5t580a7rd7dd54g3s8sl</string>
	<key>API_KEY</key>
	<string>AIzaSyDC2LdZ30X0DZwu2vgDf0mzKQqXwLJGiLw</string>
	<key>GCM_SENDER_ID</key>
	<string>646933579801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-1d5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-1d5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:646933579801:ios:64e58dacc0483faa</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-1d5ec.firebaseio.com</string>
</dict>
</plist>